<!DOCTYPE html>
<html>
<head>
    <title>Set</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
</head>
<body>
    <h1>SET</h1>
    <h3>The Family Game of Visual Perception</h3>

    <p id="demo"></p>

    <img src="../images/red.jpg" alt="Donkey & Diddy Kong">
    <img id="board-1" alt="Donkey & Diddy Kong">

    <div id="shuffle-button" class="button" onclick="shuffleBoard()">Shuffle</div>

    <div id="board" class="board">
        <img id="board-01" class="board-element" alt="01" onclick="cardClicked(0)">
        <img id="board-02" class="board-element" alt="02" onclick="cardClicked(1)">
        <img id="board-03" class="board-element" alt="03" onclick="cardClicked(2)">
        <img id="board-04" class="board-element" alt="04" onclick="cardClicked(3)">
        <img id="board-05" class="board-element" alt="05" onclick="cardClicked(4)">
        <img id="board-06" class="board-element" alt="06" onclick="cardClicked(5)">
        <img id="board-07" class="board-element" alt="07" onclick="cardClicked(6)">
        <img id="board-08" class="board-element" alt="08" onclick="cardClicked(7)">
        <img id="board-09" class="board-element" alt="09" onclick="cardClicked(8)">
        <img id="board-10" class="board-element" alt="10" onclick="cardClicked(9)">
        <img id="board-11" class="board-element" alt="11" onclick="cardClicked(10)">
        <img id="board-12" class="board-element" alt="12" onclick="cardClicked(11)">
    </div>
    <script src="../client-scripts/test.js"></script>
</body>
</html>